@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic-Regular.otf') format('opentype');
  }

.openDyslexic {
    font-family: 'OpenDyslexic', sans-serif;
}

.centerText {
    text-align: center;
}