body {
    display: grid;
    grid-template-rows: auto 3fr;

    background: linear-gradient(30deg, #482b08, #110b2e, #13172b, #210538);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: calc(100vh - 100px);
    box-sizing: border-box;
}
.video {
    grid-column: 1 / 2;
}
.text {
    grid-column: 2 / 3;
}
h1 {
    font-size: 2.5em;
    margin-top: 0;
}
video {
    width: 100%;
    height: auto;
}
button {
    background: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 20px 0;
}
button:hover {
    background: #333;
    color: #fff;
}