@import "_main.scss";
@import "_font.scss";
@import "_nav.scss";
@import "_video.scss";
@import "_audio.scss";

.flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}