<section class="flexCenter">
<!-- audio component -->
 <div class="audioComponent">
        <h2 class="">The Audio Component</h2>
</div>
<div class="videoBox">
    <div class="video-wrapper">
    <!-- linking audio file -->
        <audio id="audio" src="assets/silentVoiceEnglish.mp3" controls></audio>
        <audio id="audio" src="assets/silentVoiceJapanese.mp3" controls></audio>
        <button class="transcript-btn">Show Transcript</button>
    </div>

        <div class="">
            <p class=""><p>
        </div>

    <div class="transcript hidden">
        <h3 class="hidden">Transcript</h3>
        <blockquote class="blockquote text-center">
        <p class="">
            
        </p>
        </blockquote>
    </div>
</section>
