<!-- audio component -->
 <div class="audioComponent">
        <h2 class="">The Audio Component</h2>
</div>
<div class="videoBox">
    <div class="video-wrapper">
    <!-- linking audio file -->
    <audio id="audio" src="../public/assets/video1.mp3" controls>
        <track default kind="captions" srclang="en" src="../public/assets/video1.vtt" />
    </audio>
      <button class="transcript-btn">Show Transcript</button>
</div>
        <div class="">
            <p class=""><p>
        </div>

      <section class="transcript hidden">
        <h3 class="hidden">Transcript</h3>
        <p class="">
            
        </p>
        </blockquote>
    </section>
</section>
