<body>

    <header class="flexCenter">
        <h1 class="">Evan's A/V Accessability App</h1>
        <div>
        <button class="openDyslexic" onclick="toggleFont()">Dyslexic Mode</button>
        <button onclick="toggleDarkMode()">Dark Mode</button>
        </div>

    </header>


    {{!-- Video Component --}}
    <section class="flexCenter">

        <div class="videoComponent flexCenter">
            <h2 class="centerText">Welcome to my accessible video player! Please enjoy the video below and choose from English or Japanese Audio, as well as English or Japanese subtitles.</h2>
        </div>
        <div class="videoBox">
            <div class="video-wrapper">
            <video id="video" class="video-player" controls crossorigin>
                <source src="assets/silentVoice.mp4" type="video/webm">
                <track default kind="captions" srclang="en" label="English" src="assets/silentVoiceEnglish.vtt"/>
            </video> 
            <!-- Ion icon for cc -->
                <button class="captions" data-button="0" aria-label="Toggle Video Captions">English Subtitles<i class="icon ion-ios-closed-captioning"></i></button>
        </div>
            <div>{{captionText}}</div>
        </div>

    </section>

    {{!-- Audio Component --}}
    <section class="flexCenter">
        <!-- audio component -->
        <div class="audioComponent">
                <h2 class="">The Audio Component</h2>
        </div>
        <div class="videoBox">

            <div class="video-wrapper">
            <!-- linking audio file -->
                <audio id="audio" src="assets/silentVoiceEnglish.mp3" controls></audio>
                <audio id="audio" src="assets/silentVoiceJapanese.mp3" controls></audio>
                <button class="transcript-btn">Show Transcript</button>
            </div>
        </div>

        <div class="">
            <p class=""><p>
        </div>

        <div class="transcript hidden">
            <h3 class="hidden">Transcript</h3>
            <blockquote class="blockquote text-center">
                <p class="">
                    
                </p>
            </blockquote>
        </div>
    </section>
</body>
</html>