<body>

    <header class="flexCenter">
        <h1 class="">Evan's A/V Accessability App</h1>
        <div>
        <button class="openDyslexic" onclick="toggleFont()">Dyslexic Mode</button>
        <button onclick="toggleDarkMode()">Dark Mode</button>
        </div>

    </header>


    {{!-- Video Component --}}
    <section class="flexCenter">

        <div class="videoComponent flexCenter">
            <h2 class="centerText">Welcome to my accessible video player! Please enjoy the video below and choose from English or Japanese Audio, as well as English or Japanese subtitles.</h2>
        </div>

        <div class="videoBox flexCenter">

            <div class="video-wrapper">

                {{!-- Yes, this is the video tag --}}
                <video
                    id="video"
                    class="video-player vjs-big-play-centered video-js"
                    controls
                    preload="auto"
                    width="890"
                    height="480"
                    poster="/images/thumbnail.jpg"
                    data-setup='{}'
                >
                    <source src="assets/silentVoice.mp4" type="video/mp4" />
                    <track default kind="captions" srclang="en" label="English" src="assets/silentVoiceEnglish.vtt"/>
                    <track kind="captions" srclang="jp" label="Japanese" src="assets/silentVoiceJapanese.vtt"/>
                    <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank"
                        >supports HTML5 video</a
                    >
                    </p>
                </video>
            </div>

            <div>
                <button class="captions" data-button="0" aria-label="Toggle English Video Captions">English Subtitles</button>
                <button class="captions" data-button="1" aria-label="Toggle Japanese Video Captions">Japanese Subtitles</button>
            </div>

            <div>
                <button id="englishAudioButton" class="audio" aria-label="Toggle English Audio Track">English Audio</button>
                <button id="japaneseAudioButton" class="audio" aria-label="Toggle Japanese Audio Track">Japanese Audio</button>
            </div>

            <div>{{captionText}}</div>
        </div>

    </section>

    {{!-- Audio Component --}}
    <section class="flexCenter">
        <!-- audio component -->
        <div class="audioComponent">
                <h2 class="hidden">The Audio Component</h2>
        </div>
        <div class="videoBox">

            <div class="flexCenter">
            <!-- linking audio file -->
                <div class="hidden">
                    <audio id="englishAudio" src="assets/silentVoiceEnglish.mp3" type="audio/mp3" controls></audio>
                    <audio id="japaneseAudio" src="assets/silentVoiceJapanese.mp3" type="audio/mp3" controls></audio>
                </div>
                    <button class="transcript-btn">Show Transcript</button>
            </div>
        </div>

        <div class="">
            <p class=""><p>
        </div>

        <div class="transcript hidden">
            <h3 class="hidden">Transcript</h3>
            <blockquote class="blockquote text-center">
                <p class="">
                    
                </p>
            </blockquote>
        </div>
    </section>
</body>
</html>