<body>

    <header class="flexCenter">
        <h1 class="">Evan's A/V Accessability App</h1>
        <div>
        <button class="openDyslexic" onclick="toggleFont()">Dyslexic Mode</button>
        <button onclick="toggleDarkMode()">Dark Mode</button>
        </div>

    </header>


    {{!-- Video Component --}}
    <section class="flexCenter">

        <div class="videoComponent flexCenter">
            <h2 class="centerText">Welcome to my accessible video player! Please enjoy the video below and choose from English or Japanese Audio, as well as English or Japanese subtitles.</h2>
        </div>

        <div class="videoBox flexCenter">

            <div class="video-wrapper">

                {{!-- Yes, this is the video tag --}}
                <video
                    id="video"
                    class="video-player video-js"
                    controls
                    preload="auto"
                    width="890"
                    height="480"
                    poster="/images/thumbnail.jpg"
                    data-setup="{}"
                >
                    <source src="assets/silentVoice.mp4" type="video/mp4" />
                    <track default kind="captions" srclang="en" label="English" src="assets/silentVoiceEnglish.vtt"/>
                    <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank"
                        >supports HTML5 video</a
                    >
                    </p>
                </video>

                {{!-- <video id="video" class="video-player" nocontrols crossorigin>
                    <source src="assets/silentVoice.mp4" type="video/webm">
                    <track default kind="captions" srclang="en" label="English" src="assets/silentVoiceEnglish.vtt"/>
                </video> --}}
                <input type="range" min="0" max="255" step="1" value="0" id="video-seek-bar">
            </div>

            <div>
                <button class="captions" data-button="0" aria-label="Toggle English Video Captions">English Subtitles<i class="icon ion-ios-closed-captioning"></i></button>
                <button class="captions" data-button="0" aria-label="Toggle Japanese Video Captions">Japanese Subtitles<i class="icon ion-ios-closed-captioning"></i></button>
            </div>

            <div>{{captionText}}</div>
        </div>

    </section>

    {{!-- Audio Component --}}
    <section class="flexCenter">
        <!-- audio component -->
        <div class="audioComponent">
                <h2 class="hidden">The Audio Component</h2>
        </div>
        <div class="videoBox">

            <div class="flexCenter">
            <!-- linking audio file -->
                <div>
                    <audio id="audio" src="assets/silentVoiceEnglish.mp3" controls></audio>
                    <audio id="audio" src="assets/silentVoiceJapanese.mp3" controls></audio>
                </div>
                    <button class="transcript-btn">Show Transcript</button>
            </div>
        </div>

        <div class="">
            <p class=""><p>
        </div>

        <div class="transcript hidden">
            <h3 class="hidden">Transcript</h3>
            <blockquote class="blockquote text-center">
                <p class="">
                    
                </p>
            </blockquote>
        </div>
    </section>
</body>
</html>