<body>
    <h1 class="hidden">Main</h1>

    <section>
        <h2 class="hidden">Section</h2>

        <div>
            <a href="/audio">Audio</a>
            <a href="/video">Video</a>
        </div>
    </section>

    {{{body}}}

</body>
</html>