<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <title>Evan Hansen A/V Research</title>
</head>
<body>
    <h1 class="hidden">Main</h1>

    <section>
        <h2 class="hidden">Section</h2>

        <div>
            <a href="/audio"></a>
            <a href="/video"></a>
        </div>
    </section>

    {{{body}}}

</body>
</html>