<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Courgette&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/main.css">

    <title>Evan Hansen A/V Research</title>
    <title>{{title}}</title>
  </head>

  <body id="app">

    <header class="flexCenter">
    <h1 class="">Evan's A/V Accessability App</h1>
    <div>
      <button class="openDyslexic" onclick="toggleFont()">Dyslexic Mode</button>
      <button onclick="toggleDarkMode()">Dark Mode</button>
    </div>

  </header>
    <section class="nav flexCenter">
        <h2 class="">Choose a button!</h2>
        <div>
          <button><a href="/audio">Audio</a></button>
          <button><a href="/video">Video</a></button>
            
        </div>
    </section>
    {{{body}}}

    <script src="/JS/main.js"></script>
  </body>
</html>