<div class="videoComponent">
    <h2 class="">The Video Component</h2>
</div>
<div class="videoBox">
     <div class="video-wrapper">
      <video id="video" class="video-player" controls crossorigin>
        <source src="../public/assets/video1.mp4" type="video/mp4">
           <track default kind="captions" srclang="en" src="../public/assets/video1.vtt" />
      </video> 
    <!-- Ion icon for cc -->
        <button class="captions"  data-button="0" aria-label="Toggle Video Captions">CAPTION<i class="icon ion-ios-closed-captioning"></i></button>
</div>
    <div class="">
        <p class="">

        </p> 
    </div>
</div>